.vscode
.history
node_modules
docs
docs/**
.env
**/*.draft.*
**/*.draft

./src/test/rules-test.spec.ts
./src/test/rules-test.spec.ts.map
./src/test/rules-test.*.spec.ts
./src/test/rules-test.*.spec.ts.map

./dist/test/rules-test.spec.js
./dist/test/rules-test.spec.js.map
./dist/test/rules-test.*.spec.js
./dist/test/rules-test.*.spec.js.map

./types/test/rules-test.spec.d.ts
./types/test/rules-test.spec.d.ts.map
./types/test/rules-test.*.spec.d.ts
./types/test/rules-test.*.spec.d.ts.map