.env
.env.*
.env.example
.github
.history
.jest.*
.markdownlint.*
.prettierrc.*
.typedoc.*
.madge
.vscode
AGENTS.md
CLAUDE.md
TASKS.md
biome.json
umd.tsconfig.jsonc
tsconfig.json
tsconfig.*.json
*.tsconfig.json
vitest.config.ts
coverage
docs
docs/**
node_modules
tsconfig.json
workflows
yarn-error.log
jest.config.*
typedoc.json

**/test/*
**/tests/*
**/__test__/*
**/__tests__/*
**/*.draft.*
**/*.draft
**/*.spec.*

./src/{j,vit}est.setup.ts
./src/{j,vit}est.setup.ts.map
./src/test/rules-test.spec.ts
./src/test/rules-test.spec.ts.map
./src/test/rules-test.*.spec.ts
./src/test/rules-test.*.spec.ts.map

./dist/{j,vit}est.setup.js
./dist/{j,vit}est.setup.js.map
./dist/test/rules-test.spec.js
./dist/test/rules-test.spec.js.map
./dist/test/rules-test.*.spec.js
./dist/test/rules-test.*.spec.js.map

./types/{j,vit}est.setup.d.ts
./types/{j,vit}est.setup.d.ts.map
./types/test/rules-test.spec.d.ts
./types/test/rules-test.spec.d.ts.map
./types/test/rules-test.*.spec.d.ts
./types/test/rules-test.*.spec.d.ts.map
